@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #c9c2b2;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 300px;
  box-shadow: 4px 4px 9px rgb(122 122 122 / 36%);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 300px;
  height: auto;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgb(122 122 122 / 36%);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.placeholder {
  width: 300px;
  min-height: 50px;
}

.start {
  background: #d7c770;
}

.progress {
  background: #86534e;
}

.done {
  background: #af323b;
}

.hold {
  border: 1px solid #000;
}

.hide {
  display: none;
}

.hovered {
  box-shadow: 0px 0px 35px #dbdbdb inset;
  border-radius: 20px;
}
